[Unit]
Description=Run neuroling.service every minut

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=neuroling.service

[Install]
WantedBy=multi-user.target
